@charset "UTF-8";
/*---------------------------- screen ---------------------------------*/
/*----------------------------- color ----------------------------------*/
/*----------------------------- font ----------------------------------*/
/*----------------------------- size ----------------------------------*/
html {
  font-size: 100%;
}

body {
  font-family: YuMincho, "Yu Mincho", serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  background-color: #3e3e3e;
}
body.is-active {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
}

a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

img {
  height: auto;
  box-sizing: border-box;
  width: 100%;
}

li {
  list-style: none;
}

.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
@media only screen and (min-width: 768px) {
  .l-header {
    height: 80px;
  }
}

.l-menu {
  width: 33px;
  height: 3px;
  z-index: 10000;
}
@media only screen and (min-width: 1280px) {
  .l-menu {
    display: none;
  }
}
.l-menu::before {
  z-index: 10000;
  width: 33px;
  height: 3px;
  top: -14px;
  transition: 0.3s;
}
.l-menu::after {
  z-index: 10000;
  width: 33px;
  height: 3px;
  top: 12px;
  transition: 0.3s;
}
.l-menu.is-active {
  height: 0;
}
.l-menu.is-active::before {
  transform: rotate(45deg);
  top: 0;
}
.l-menu.is-active::after {
  transform: rotate(-45deg);
  top: -3px;
}

.l-footer {
  padding: 50px 0;
}

.c-menu {
  content: "";
  background-color: #fff;
}
.c-menu::before {
  display: block;
  content: "";
  background-color: #fff;
  position: relative;
}
.c-menu::after {
  display: block;
  content: "";
  background-color: #fff;
  position: relative;
}

.c-inner {
  padding: 0 3%;
}
@media only screen and (min-width: 1280px) {
  .c-inner {
    padding: 0 6%;
  }
}

.c-font__h1 {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .c-font__h1 {
    font-size: 42px;
  }
}
.c-font__h2 {
  font-size: clamp(60px, 16vw, 317px);
  letter-spacing: 7.5px;
}
@media only screen and (min-width: 1280px) {
  .c-font__h2 {
    font-size: clamp(50px, 13.333vw, 264px);
  }
}
.c-font__h3 {
  font-size: clamp(36px, 9.6vw, 190px);
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .c-font__h3 {
    font-size: clamp(22px, 5.867vw, 116px);
  }
}
.c-font__h4 {
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .c-font__h4 {
    font-size: 24px;
  }
}
.c-font__singleTitle {
  font-size: 20px;
}
@media only screen and (min-width: 1280px) {
  .c-font__singleTitle {
    font-size: 44px;
  }
}
.c-font__p {
  font-size: 14px;
  line-height: 2;
}
@media only screen and (min-width: 768px) {
  .c-font__p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .c-font__p {
    font-size: 20px;
    line-height: 2.5;
  }
}

.c-center {
  text-align: center;
}

.c-margin__80x {
  margin: 80px 0;
}
.c-margin__40b {
  margin-bottom: 40px;
}

.c-en {
  font-family: miller-text, serif;
  font-style: normal;
  font-weight: 700;
}

.c-bg:nth-of-type(3n-2) {
  background-image: url(./../img/item1.png);
  background-position: center;
  background-size: cover;
}
.c-bg:nth-of-type(3n-1) {
  background-image: url(./../img/item2.png);
  background-position: center;
  background-size: cover;
}
.c-bg:nth-of-type(3n) {
  background-image: url(./../img/item3.png);
  background-position: center;
  background-size: cover;
}

.p-mainvisual {
  background-image: url(./../img/mainvisual.png);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 65px);
}
@media only screen and (min-width: 768px) {
  .p-mainvisual {
    height: calc(100vh - 80px);
  }
}

.p-about {
  display: grid;
  grid-template-columns: 1fr 18.6666666667vw;
}
@media only screen and (min-width: 1280px) {
  .p-about {
    grid-template-columns: 18.4210526316vw 1fr 18.4210526316vw;
  }
}
.p-about__title {
  grid-column: 2/3;
}
@media only screen and (min-width: 1280px) {
  .p-about__title {
    grid-column: 3/4;
  }
}
@media only screen and (min-width: 1280px) {
  .p-about__content {
    grid-column: 2/3;
  }
}
@media only screen and (min-width: 1280px) {
  .p-about__text {
    padding: 40px 10%;
  }
}

.p-works {
  display: grid;
  grid-template-columns: 29.8666666667vw 1fr;
}
@media only screen and (min-width: 1280px) {
  .p-works {
    grid-template-columns: 18.4210526316vw 1fr 18.4210526316vw;
    justify-items: center;
  }
}
.p-works__title {
  grid-column: 1/2;
}
@media only screen and (min-width: 1280px) {
  .p-works__title {
    margin-left: 9.8684210526vw;
  }
}
.p-works__ring {
  width: 24vw;
}
@media only screen and (min-width: 1280px) {
  .p-works__ring {
    display: none;
  }
}
.p-works__ring img {
  animation: 3s linear infinite rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.p-works__item {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1280px) {
  .p-works__item {
    margin-bottom: 60px;
    width: 32.8947368421vw;
  }
}
.p-works__item p {
  margin-top: 15px;
}
.p-works__content {
  max-width: 420px;
}
@media only screen and (min-width: 1280px) {
  .p-works__content {
    max-width: none;
    grid-column: 2/3;
  }
}
.p-works__ringPC {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .p-works__ringPC {
    display: block;
    grid-column: 3/4;
  }
}

.p-skill__item {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 18.6666666667vw 1fr;
  grid-template-rows: 16vw 1fr;
  align-items: center;
  padding: 30px 3%;
}
@media only screen and (min-width: 768px) {
  .p-skill__item {
    grid-template-columns: 9.5923261391vw 1fr;
    grid-template-rows: 7.1942446043vw 1fr;
  }
}
@media only screen and (min-width: 1280px) {
  .p-skill__item {
    grid-template-columns: 19.7368421053vw 1fr;
    grid-template-rows: 6.5789473684vw 1fr;
  }
}
.p-skill__item h4 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.p-skill__text {
  grid-column: 2/3;
  grid-row: 2/3;
}
.p-skill__number {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.p-skill__number span {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  background-color: #fff;
  color: #000000;
  border-radius: 50%;
  border: 5px solid #ffe200;
}
@media only screen and (min-width: 1280px) {
  .p-skill__number span {
    height: 60px;
    width: 60px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .p-skill__verticalPC {
    position: relative;
  }
  .p-skill__verticalPC h2 {
    position: absolute;
    right: 10%;
    top: 0;
    writing-mode: vertical-rl;
  }
}

.p-contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.p-contact__button {
  padding: 15px 50px;
  border: 1px solid #fff;
  border-radius: 1000px;
  display: inline;
}
@media only screen and (min-width: 1280px) {
  .p-contact__button {
    padding: 20px 90px;
  }
}
.p-contact__title {
  margin: 50px 0;
}
@media only screen and (min-width: 768px) {
  .p-contact__content {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.p-contact {
  margin-bottom: 50px;
}
.p-contact p {
  margin: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .p-contact p {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .p-contact__flex {
    display: flex;
    justify-content: space-between;
  }
}
.p-contact__list {
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .p-contact__list {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  .p-contact__form {
    width: 70%;
  }
}
.p-contact__form input {
  padding: 0 3%;
  border: 1px solid #3e3e3e;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .p-contact__form input {
    font-size: 22px;
    width: 100%;
  }
}
.p-contact__form textarea {
  padding: 3%;
  border: 1px solid #3e3e3e;
  border-radius: 10px;
  width: 100%;
}
.p-contact__button--Send p {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.p-contact__button--Send p input {
  background-color: #3e3e3e;
  color: #fff;
  padding: 8px 50px;
}

.wpcf7-response-output {
  border: 2px solid #3e3e3e !important;
  padding: 10px 5px !important;
}

.p-backText {
  color: #4b4b4b;
  padding-top: 60px;
}
.p-backText__s {
  font-size: clamp(14px, 3.733vw, 74px);
}
.p-backText__m {
  font-size: clamp(24px, 6.4vw, 127px);
}
.p-backText__l {
  font-size: clamp(28px, 7.467vw, 148px);
}
.p-backText p {
  padding: 5px 0;
}

.p-scroll {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.p-scroll span {
  position: absolute;
  left: -40px;
  bottom: 30px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}
.p-scroll:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 14px;
  width: 3px;
  height: 20px;
  background: #fff;
  transform: skewX(55deg);
}
.p-scroll:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 150px;
  background: #fff;
}

.p-single__mainvisual {
  position: relative;
}
.p-single__mainvisual img {
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1280px) {
  .p-single__mainvisual img {
    height: calc(100vh - 80px);
  }
}
.p-single__title {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.p-single__content h3 {
  font-size: 20px;
  line-height: 40px;
  padding: 0 3%;
  margin-top: 80px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .p-single__content h3 {
    padding: 0 6%;
  }
}
@media only screen and (min-width: 1280px) {
  .p-single__content h3 {
    padding: 0 20%;
    margin-top: 100px;
  }
}
.p-single__content p {
  font-size: 14px;
  line-height: 30px;
  padding: 0 3%;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .p-single__content p {
    padding: 0 6%;
  }
}
@media only screen and (min-width: 1280px) {
  .p-single__content p {
    padding: 0 20%;
    margin: 100px 0;
  }
}
.p-single__content img {
  margin: 40px 0;
  max-width: 1000px;
}
.p-single__content .wp-block-buttons {
  background-color: #f8f8f8;
  text-align: center;
  padding: 100px 0;
}
@media only screen and (min-width: 1280px) {
  .p-single__content .wp-block-buttons {
    padding: 150px 0;
  }
}
.p-single__content .wp-block-button__link {
  color: #3e3e3e;
  background-color: #f8f8f8;
  border-radius: 9999px;
  box-shadow: none;
  text-decoration: none;
  padding: 2.6666666667vw 10.6666666667vw;
  font-size: 1.125em;
  display: inline;
  border: 1px solid #3e3e3e;
}
@media only screen and (min-width: 768px) {
  .p-single__content .wp-block-button__link {
    padding: 1.1990407674vw 4.7961630695vw;
  }
}
@media only screen and (min-width: 1280px) {
  .p-single__content .wp-block-button__link {
    padding: pcWitdh(10) 2.6315789474vw;
  }
}

.p-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 100%;
  width: 100vw;
  background-color: rgba(62, 62, 62, 0.5);
  transition: 0.5s;
}
.p-menu.is-active {
  left: 0;
}
@media only screen and (min-width: 1280px) {
  .p-menu {
    position: static;
    z-index: 0;
    width: auto;
    background-color: none;
  }
}
.p-menu__content {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1280px) {
  .p-menu__content {
    flex-direction: row;
    height: auto;
  }
}
.p-menu__content a {
  font-size: 26px;
  margin: 15px 0;
}
@media only screen and (min-width: 1280px) {
  .p-menu__content a {
    margin: 0 30px;
  }
}

.u-yellow {
  color: #ffe200;
}

.u-vertical-rl {
  writing-mode: vertical-rl;
}

.u-back__White {
  background-color: #fff;
}

.u-color__Navy {
  color: #3e3e3e;
}

/*--------------------------------------*
* foundation
*--------------------------------------*/
/*--------------------------------------*
* layout
*--------------------------------------*/
/*--------------------------------------*
* object
*--------------------------------------*/
/*-------------------
* component
-------------------*/
/*-------------------
* project
-------------------*/
/*-------------------
* utility
-------------------*/
.headline {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.headline .rect {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background: #ffe200;
  width: 100%;
  height: 100%;
  transform: translateX(-101%);
}

body::-webkit-scrollbar {
  width: 10px;
  /* 垂直方向のスクロールバーの幅 */
}

body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #444;
}

.pin-spacer {
  height: auto !important;
  padding: 0 !important;
}/*# sourceMappingURL=style.css.map */