@use "./../foundation/variable" as *;

.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  @include tb {
    height: 80px;
  }
  &__rinkPC {
    display: none;
    @include pc {
      display: flex;
    }
    a {
      margin-right: 60px;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
