@use "./../../foundation/variable" as *;

.p-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 100%;
  width: 100vw;
  background-color: rgba($Navy, 0.5);
  transition: 0.5s;
  &.is-active {
    left: 0;
  }
  @include pc {
    position: static;
    z-index: 0;
    width: auto;
    background-color: none;
  }
  &__content {
    height: 100vh;
    color: $White;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include pc {
      flex-direction: row;
      height: auto;
    }
    a {
      font-size: 26px;
      margin: 15px 0;
      @include pc {
        margin: 0 30px;
      }
    }
  }
}
