@use "./../../foundation/variable" as *;

.p-skill {
  &__item {
    margin-top: 40px;
    display: grid;
    grid-template-columns: spWidth(70) 1fr;
    grid-template-rows: spWidth(60) 1fr;
    align-items: center;
    padding: 30px 3%;
    @include tb {
      grid-template-columns: tbWidth(80) 1fr;
      grid-template-rows: tbWidth(60) 1fr;
    }
    @include pc {
      grid-template-columns: pcWidth(300) 1fr;
      grid-template-rows: pcWidth(100) 1fr;
    }
    h4 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
  &__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  &__number {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    span {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      width: 38px;
      background-color: $White;
      color: $Black;
      border-radius: 50%;
      border: 5px solid $Yellow;
      @include pc {
        height: 60px;
        width: 60px;
        font-size: 30px;
      }
    }
  }
  &__verticalPC {
    @include pc {
      position: relative;
      h2 {
        position: absolute;
        right: 10%;
        top: 0;
        writing-mode: vertical-rl;
      }
    }
  }
}

.headline {
  position: relative;
  overflow: hidden;
  display: inline-block;
  .rect {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background: $Yellow;
    width: 100%;
    height: 100%;
    transform: translateX(-101%);
  }
}
