@use "./../../foundation/variable" as *;

.p-single {
  &__mainvisual {
    position: relative;
    img {
      background-size: cover;
      background-position: center;
      object-fit: cover;
      @include pc {
        height: calc(100vh - 80px);
      }
    }
  }
  &__title {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: rgba($Navy, 0.4);
    padding: 10px 20px;
  }
  &__content {
    h3 {
      font-size: 20px;
      line-height: 40px;
      padding: 0 3%;
      margin-top: 80px;
      margin-bottom: 40px;
      @include tb {
        padding: 0 6%;
        font-size: 24px;
      }
      @include pc {
        padding: 0 20%;
        margin-top: 100px;
      }
    }
    p {
      font-size: 14px;
      line-height: 30px;
      padding: 0 3%;
      margin-top: 40px;
      margin-bottom: 40px;
      @include tb {
        padding: 0 6%;
        font-size: 16px;
      }
      @include pc {
        font-size: 18px;
        padding: 0 20%;
        margin: 100px 0;
        line-height: 40px;
      }
    }
    img {
      margin: 40px 0;
      max-width: 1000px;
    }
    .wp-block-buttons {
      background-color: $Ivory;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 20px;

      @include pc {
        padding: 150px 0;
      }
    }
    .wp-block-button {
      margin-bottom: 60px;
      @include pc {
        margin-bottom: 0;
      }
    }
    .wp-block-button__link {
      color: $Navy;
      background-color: $Ivory;
      border-radius: 9999px;
      box-shadow: none;
      text-decoration: none;
      padding: spWidth(10) spWidth(40);
      font-size: 1.125em;
      display: inline;
      border: 1px solid $Navy;
      @include tb {
        padding: tbWidth(10) tbWidth(40);
      }
      @include pc {
        padding: pcWitdh(10) pcWidth(40);
      }
    }
  }
}
