@use "./../../foundation/variable" as *;

.p-skill {
  &__title {
  }
  &__itemTitle {
    display: flex;
    align-items: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      width: 38px;
      background-color: $White;
      color: $Black;
      border-radius: 50%;
    }
  }
}
