@use "./../../foundation/variable" as *;

.c-menu {
  content: "";
  background-color: $White;
  &::before {
    display: block;
    content: "";
    background-color: $White;
    position: relative;
  }
  &::after {
    display: block;
    content: "";
    background-color: $White;
    position: relative;
  }
}
